.ProductCard {
  background-color: var(--fg-white);
  position: relative;
  max-width: 350px;
  transition: transform .17s;

  .ProductCardImage{
    border-radius: 0.8rem;
    overflow: hidden !important;
    
    img{
      height: 350px;
    }
  }

  .Label{
    top: -32px;
    left: 317px;
  }

  .ProductCardContent{

    .Label{
      text-align: right;
    }

    .ProductCardTitle{
      margin-top: -12px;
      text-align: left;
      color: var(--fg-base);
      font-family: 'main-text-bold', sans-serif;
      font-size: var(--font-size-4);
      //display: block;
      max-width: 97%;
      white-space: nowrap;
      overflow: hidden !important;
      text-overflow: ellipsis;
    }

    .ProductCardBottom{
      height: 30px;
      display: flex;
      align-items: center;
      .ProductCardArtist {
        color: var(--fg-base-light-50);
        font-size: var(--font-size-1);
        font-family: 'main-text-bold', sans-serif;
      }
      .ProductCardAdd{
        margin-left: auto;
        margin-right: 150px;
        margin-top: -30px;
      }
    }

    .spacer{
      height: 40px;
    }
  }
}

.ProductCard:hover {
  transform: scale(1.06);
}