.ShoppingCartRow {
  max-width: 1050px;

  .ShoppingCartRow1 {
    display: flex;
    height: 175px;
    gap: 30px;

    .ProductImage{
      height: 170px;
      width: 170px;
      position: relative;
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }

    img{
      max-width: 170px;
      max-height: 170px; 
    }

    .info{
      position: relative;
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }

    .Label{
      position: relative;
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
    }

    .Delete{
      position: relative;
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); 
    }
  }

  .hrCart{
    height: 2px;
    border-width:0;
    color:black;
    background-color:black;
  }
}