.ShoppingCartRow {
  display: flex;
  justify-content: center;

  .RowContainer {
    max-width: 1200px;
    @media (min-width: 900px) {
      min-width: 820px;
    }

    .h2{
      margin-bottom: 50px;
    }

    .Row {
      display: flex;
      height: 175px;
      gap: 30px;
  
      img{
        max-width: 170px;
        max-height: 170px; 
        -webkit-box-shadow: 10px 7px 31px -12px rgba(17, 17, 17, 0.75);
        -moz-box-shadow: 10px 7px 31px -12px rgba(17, 17, 17, 0.75);
        box-shadow: 10px 7px 31px -12px rgba(17, 17, 17, 0.75);
        border-radius: 15px;
      }

      .info{
          padding-top: 40px;
      }
  
      .Label{
        position: relative;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
      }
  
      .Delete{
        position: relative;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); 
      }
    }
  
    .hrCart{
      height: 2px;
      border-width:0;
      color:black;
      background-color:black;
    }
  }
}