.ShoppingCartRow {
  display: flex;
  justify-content: center;

  .RowContainer {
    max-width: 1200px;
    @media (min-width: 900px) {
      min-width: 820px;
    }

    .h2{
      margin-bottom: 50px;
    }

    .Row {
      display: flex;
      justify-content: space-between;
      height: 175px;
      gap: 30px;

      .startrow{
        gap: 35px;
        display: flex;
        img{
          max-width: 170px;
          max-height: 170px; 
          -webkit-box-shadow: 10px 7px 31px -12px rgba(17, 17, 17, 0.75);
          -moz-box-shadow: 10px 7px 31px -12px rgba(17, 17, 17, 0.75);
          box-shadow: 10px 7px 31px -12px rgba(17, 17, 17, 0.75);
          border-radius: 15px;
        }
  
        .info{
            padding-top: 40px;
        }
      }
    
      .endrow{
        gap: 5px;
        position: relative;
        display: flex;
        align-items: center;
        left: 53px;
        .Label{
          position: relative;
        }
    
        .Delete{
          position: relative;
        }
      }
      
    }
  
    .hrCart{
      height: 2px;
      border-width:0;
      color:black;
      background-color:black;
    }
  }
}