.TopHeader {
  margin-left: 35px;
  margin-right: 35px;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;

  .left{
    ///
  }

  .right{
    display: flex;
    gap: 20px;
    .Cart{
      transform: scale(0.8);
    }
    .Hamburgermenu{
      transform: scale(1.15);
    }
  }
}