.Cart {
  background-color: var(--fg-base);
  color: var(--fg-white);
  width: 56px;
  height: 56px;
  border-radius: 28px;

  .icon{
    position: relative;
    top: 4px;
    left: 11px;
    font-size: 30px;
    width: 28px;
    height: 28px;
  }

  .counter{
    font-family: 'main-text-bold', sans-serif;
    position: relative;
    background-color: var(--bg-highlight);
    color: var(--fg-white);
    width: 26px;
    height: 26px;
    border-radius: 13px;
    top: -30px;
    left: 36px;
    text-align: center;
    font-size: 15px;
    p{
      position: relative;
      top: 2px;
    }
  }
}

.Cart:hover {
  cursor: pointer;
  background-color: var(--fg-white);
  color: var(--fg-base);
}