.Label {
  font-family: 'main-text-regular', sans-serif;
  padding: 10px;
}

/* Exception */
.Label[data-type="genre"] {
  font-family: 'main-text-bold', sans-serif;
  color: var(--fg-highlight);
  font-size: var(--font-size-1);
}