.ProductlistFilter {
  display: grid;

  .SearchHomepageFilter{
    justify-content: center;
  }

  .Productlist{
    padding-top: 75px;
    justify-content: center;
  }

  .PaginationShow{
    justify-content: center;
  }
}


