.ProductlistFilter {
  //display: grid;

  .SearchHomepageFilter{
    justify-content: center;
  }

  .Productlist{
    padding-top: 75px;
    justify-content: center;
  }

  .PaginationShow{
    justify-content: center;
    justify-self: center;
    justify-items: center;
  }

  .PaginationContainer{
    display: flex;
    justify-content: center;
  }
}

.pagination .page-item .page-link{ 
  font-size: calc((var(--font-size-4)) * 0.8);
  font-family: main-text-regular;
  color: var(--fg-base-light-50);
  background-color: var(--bg-white);
  border: none;
}

.page-item.active .page-link {
  color: var(--fg-base);
  font-family: main-text-bold;
}