.Footer {
  display: flex;
  justify-content: space-between;
  .FooterInfo {
    margin: 130px;
    display: flex;
    gap: 50px;
  }
  .FooterLogo {
    margin: 130px;
    display: flex;
  }
  .FooterBlock {
    width: 420px;
  }
}