.ProductpageItem {
  display: flex;
  justify-content: center;
  font-family: "main-text-bold", sans-serif;
  
  .text{
    font-family: "main-text-regular", sans-serif;
  }

  .ProductpageItemContainer{
    display: flex;
    position: relative;
    //flex-wrap: wrap;
    //gap: 40px;
    max-width: 1200px;
  }

  .Label{
    top: -30px;
    left: -30px;
    transform: scale(1.2);
  }

  .ProductpageItemLeft{
    padding-right: 15px;
    flex: 50%;
    img{
      width: 100%;
      border-radius: 25px;
      -webkit-box-shadow: 10px 7px 31px -12px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 7px 31px -12px rgba(0,0,0,0.75);
box-shadow: 10px 7px 31px -12px rgba(0,0,0,0.75);
    }
  }

  .ProductpageItemRight{
    padding-left: 15px;
    flex: 50%;

    .ProductpageItemRightBottom{
      display: flex;
  
      .ProductCardAdd{
        position: absolute;
        right: 150px;
        bottom: 32px;
      }
    }
  }
}