.Save {
  background-color: var(--fg-base);
  color: var(--fg-white);
  max-width: 56px;
  min-width: 56px;
  width: 56px;
  height: 56px;
  border-radius: 28px;

  .icon{
    position: relative;
    top: 5px;
    left: 15px;
    font-size: 30px;
    width: 28px;
    height: 28px;
  }
}

.Save:hover {
  cursor: pointer;
  background-color: var(--fg-white);
  color: var(--fg-base);
}