.HomepageHeader {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  background-image: url('../../resources/images/homepageimage.png');
  background-repeat: no-repeat;
  background-position: center;
  width: auto;
  align-items: center;
  justify-content: center;
  padding-left: 100px;
  font-family: "main-text-bold", sans-serif;
  height: 650px;
  @media (max-width: 1111px) {
    height:375px;
  }

  .HomepageHeaderContent{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 369px;
    color: white;
    text-shadow: 0px 0px 4px rgba(0,0,0,0.9);
    @media (min-width: 1080px) {
      padding-left: 100px;
    }
  }

  .ProductImageWithDisc{
    @media (max-width: 1111px) {
      visibility: hidden;
    }
  }


  .text{
    font-family: "main-text-regular", sans-serif;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .HomepageHeaderBottom{
    height: 100%;
    display: flex;
    align-items: flex-end;

    .left-column{
      //margin-right: auto;
      margin-left: -50px;
      margin-bottom: 30px;
    }

    .right-column{
      margin-left: auto;
      margin-right: 0;
    }
  }

  .btx-animate .btx-text {
    color: var(--fg-white);
  }

  .btx-payoff {
    background-color: var(--fg-white);
  }

  .btx-animate .btx-icon:after {
    color: var(--fg-white);
  }

  .btx-payoff .icon{
    color: var(--fg-black);
  }

}