.HomepageHeader {
  display: flex;
  flex-wrap: wrap;
  background-image: url('../../resources/images/homepageimage.png');
  background-repeat: no-repeat;
  background-position: center;
  max-width:100%;
  ///max-height:763px;
  width: auto;
  align-items: center;
  justify-content: center;
  font-family: "main-text-bold", sans-serif;

  height: 300px;
  @media (min-width: 1080px) {
    height: 670px;
  }

  .HomepageHeaderContent{
    @media (min-width: 510px) {
      width: 500px;
    }
    height: 369px;
    color: white;
    text-shadow: 0px 0px 4px rgba(0,0,0,0.9);
  }

  .ProductImageWithDisc{
    color: white;
  }

  .text{
    font-family: "main-text-regular", sans-serif;
  }

  .HomepageHeaderBottom{
    @media (min-width: 1080px) {
      //padding-top: 155px;
    }
    display: flex;
    flex-wrap: wrap;
  }
  
  .right-column{
    margin-left: auto;
    margin-right: 0;
  }
  
  @media screen and (min-width: 600px){
  
    .right-column{
      margin-left: auto;
      margin-right: 0;
    }
  }

  .btx-animate .btx-text {
    color: var(--fg-white);
  }

  .btx-payoff {
    background-color: var(--fg-white);
  }

  .btx-animate .btx-icon:after {
    color: var(--fg-white);
  }

  .btx-payoff .icon{
    color: var(--fg-black);
  }

}