.HalfDisc {
  background-image: url('../../resources/images/half-disc.png');
  background-repeat: no-repeat;
  display: block;
  max-width:121px;
  max-height:347px;
  width: 121px;
  height: 347px;
}